body {
	/*width: 960px;*/
	margin-left: auto;
	margin-right: auto;	
	color: #777777;
	background-color: #ffffff;	
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;	
}	

header {
	vertical-align: middle;
	background-color: #4aaaa5;
	color: #ffffff;
}

.tealWhite {
	background-color: #4aaaa5;
	color: #ffffff;
}

.bgWhite {
	background-color: #ffffff;
}	

.bgGrey {
	background-color: #666666;
}

nav, a {
	color: #cccccc;
}	

.topColHeight {
	height: 10%;	
}

 body, html, .container-fluid {
    height: 100%;	
 }
 
 .fullHeight {
	 height: 100%;
 } 
 
 /* This parent can be any width and height */
.block {
  text-align: center;

  /* May want to do this if there is risk the container may be narrower than the element inside */
  white-space: nowrap;
}
 
/* The ghost, nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

h2, h3, h4 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
}

h3, h4 {
	color: #4aaaa5;
}	
 
.patternBG {
	background-image: url(../images/nybg.png);
}

.allMarg {
	margin: 15px;
}

.allPad {
	padding: 10px;
}	

.botBorder2 {	
	border-bottom-style: solid;
	border-bottom-width: 2px;	
	border-color: #cccccc;
}	

.topBotPad {
	padding-top: 20px;
	padding-bottom: 20px;
}	

p {
	padding-top: 10px;
}

img {
	margin-top: 15px;
}	

footer {
	color: #999999;	
}

.tealRow {
	height: 12px; 
	background-color: #4aaaa5;
}